<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async">

  <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/home">home</mat-icon>
  
  <button mat-button [matMenuTriggerFor]="menuInven">Inventario</button>
  <mat-menu #menuInven="matMenu" class="mat-menu-panel.my-class">
    <button mat-menu-item routerLink="/product-list"><span>Productos</span></button>
    <button mat-menu-item routerLink="/purchases"><span>Compras</span></button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuAdmin">Administracion</button>
  <mat-menu #menuAdmin="matMenu" class="mat-menu-panel.my-class">
    <button mat-menu-item routerLink="/provider-list"><span>Proveedores</span></button>
    <button mat-menu-item routerLink="/client-list"><span>Clientes</span></button>
    <button mat-menu-item><span>Usuarios</span></button>
  </mat-menu>
  
  <span class="spacer"></span>
  <span style="padding: 0 50px;">Bienvenido: {{userFullName}}</span>
  <button mat-raised-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">Log out</button>
</mat-toolbar>