.mat-toolbar {
  min-height: 20% !important; 
  height: 20% !important;
}

.mat-toolbar-row {
  min-height: 20% !important; 
  height: 20% !important;
}

.data-user {
	padding: 0 50px;
	text-transform: uppercase;
}
