<div mat-dialog-content>

  <div style="height: 80%">

    <p><span class="text-red">Efectivo en caja: $ {{excedent}}</span></p>

    <div class="wrapper">
      <button mat-raised-button color="primary" type="button" [disabled]="hideButton()" (click)="withdrwall()">Retirar</button>
    </div>

    <div *ngFor="let denomination of catalogDenominations">
      <button mat-mini-fab color="warn" (click)="substract(denomination.description)">
        <mat-icon>exposure_neg_1</mat-icon>
      </button>
      <button mat-raised-button color="warn" [disabled]="!hideButton()" (click)="add(denomination.description)">
        {{denomination.description}}
      </button>
      <span class="spacer"></span>
      <span class="text-blue">{{getQuantity(denomination.description)}}</span>
    </div>
    <p><span class="text-blue">Acumulado: $ {{captured}}</span></p>

  </div>

</div>