<div class="login-container">
	<div class="box-login" fxLayoutAlign="center center">
		<mat-card>
			<mat-card-header>
		      <mat-card-title>Inicio de sesion</mat-card-title>
		    </mat-card-header>
			<mat-card-content>
				<form [formGroup]="loginForm" (ngSubmit)="login()">
					<mat-form-field class="full-width-input">
						<input matInput formControlName="username" placeholder="Username" maxlength="10" autocomplete="off" required />
						<mat-error>Nombre de usuario invalido</mat-error>
					</mat-form-field>
					<mat-form-field class="full-width-input">
						<input matInput formControlName="password" placeholder="Password" maxlength="16" type="password" autocomplete="off" required />
						<mat-error>Password invalido</mat-error>
					</mat-form-field>
					<div fxLayoutAlign="center center">
						<button mat-raised-button class="midle-width-input" color="primary" [disabled]="loginForm.invalid">Login</button>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
	</div>
</div>