mat-card-title,input{
	text-transform: none;
}

.login-container {
	margin: 0;
	display: flex;
	flex-direction: column;
	width:100%
}

.box-login{
	position:relative;
	margin: 10% auto;
	top:0;
	opacity:1;
	float:left;
	padding:60px 50px 40px 50px;
	background:#fff;
	border-radius:10px;
	transform:scale(1);
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	z-index:5;
	max-width:330px;
}