* {
    background-color: white;
    font-size: 10px;
    font-family: 'Arial';
    text-transform: uppercase;
    -webkit-font-smoothing : none;
    margin: 1mm;
    padding: 1mm;
}

hr.dashed {
  border-top: 1px dashed black;
  width: 95%;
}
td.producto,th.producto {
    width: 27mm;
    max-width: 27mm;
}
td.cantidad,th.cantidad {
    width: 13mm;
    max-width: 13mm;
    word-break: break-all;
}
td.precio,th.precio {
    width: 13mm;
    max-width: 13mm;
    word-break: break-all;
}
td.formapago,th.formapago {
    width: 60mm;
    max-width: 60mm;
    text-align: right;
    word-break: break-all;
}
.centrado {
    text-align: center;
    align-content: center;
}
.left {
    float:left;
}
.right {
    float:right;
}
.ticket {
    width: 66mm;
    max-width: 66mm;
}
img {
    max-width: 50%;
    width: 50%;
}

@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
}