<div class="div-container">

  <mat-card class="box-form">
    <mat-card-header>
      <mat-card-title>Busqueda por rango de fecha</mat-card-title>
    </mat-card-header>

    <mat-card-content class="wrapper">
      <form [formGroup]="searchForm" (ngSubmit)="search(0)">

        <mat-form-field appearance="fill">
          <mat-label>Fecha inicial</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="startDate" required>
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha Final</mat-label>
          <input matInput formControlName="endDate" [matDatepicker]="endDate" required="">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate disabled="false"></mat-datepicker>
        </mat-form-field>
        
        <button mat-mini-fab color="primary" [disabled]="searchForm.invalid">
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card-header>
    <mat-card-title>Ventas</mat-card-title>
  </mat-card-header>

  <div id="table-wrapper">
    <div id="table-scroll">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Folio</th>
          <th>Cliente</th>
          <th>Total</th>
          <th>No Artic</th>
          <th>Factura</th>
          <th><button mat-fab [disabled]="!sales" (click)="openDialogClientAdd()"><mat-icon>people</mat-icon></button></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sale of sales | async">
          <td>{{sale.id}}</td>
          <td>
            {{sale.clientId ? ((sale.clientRfc ? (sale.clientRfc + ' ') : '') + sale.clientName) : 'Sin cliente'}}
            <button mat-mini-fab color="primary" (click)="openDialogClientSearch(sale.id)"><mat-icon>search</mat-icon></button>
          </td>
          <td>$ {{sale.total}}</td>
          <td>{{sale.detail.length}}</td>
          <td class="midle-width-input">
            <input #invoiceCaptured maxlength="100" autocomplete="off" value="{{sale.invoice}}"> <!-- formControlName="invoice" -->
          </td>
          <td>
            <button mat-raised-button color="primary" type="button" [disabled]="!rowValid(sale.id, invoiceCaptured.value, sale.clientId)" 
            (click)="update(sale.id, invoiceCaptured.value, sale.clientId)">Actualizar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Pagination -->
  <div class="wrapper">
    <mat-icon (click)="pagination(0)">first_page</mat-icon>
    <mat-icon (click)="pagination(page-1)">arrow_back</mat-icon>
    page {{page+1}} of {{totalPage}}
    <mat-icon (click)="pagination(page+1)">arrow_forward</mat-icon>
    <mat-icon (click)="pagination(totalPage-1)">last_page</mat-icon>
  </div>

</div>