<div mat-dialog-content>

   <!-- Formulario de busqueda -->
   <div>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="searchForm">

          <mat-form-field style="width: 20%;">
            <input matInput formControlName="name" placeholder="Nombre" maxlength="50">
          </mat-form-field>
          <mat-form-field style="width: 20%;">
            <input matInput formControlName="lastName" placeholder="Apellido Paterno" maxlength="50">
          </mat-form-field>
          <mat-form-field style="width: 20%;">
            <input matInput formControlName="midleName" placeholder="Apellido Materno" maxlength="50">
          </mat-form-field>
          <mat-form-field style="width: 20%;">
            <input matInput formControlName="rfc" placeholder="RFC" maxlength="150">
          </mat-form-field>
          <mat-icon aria-hidden="false" aria-label="Example search icon" (click)="doFilter()">search</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example clear icon" (click)="clearFilter()">clear</mat-icon>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Tabla -->
  <div id="table-wrapper">
    <div id="table-scroll">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>RFC</th>
          <th>Nombre Completo</th>
          <th>Domicilio</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clientsFiltred$ | async">
          <td class="hidden">{{client.id}}</td>
          <td>{{client.rfc}}</td>
          <td>{{client.name}} {{client.lastName}} {{client.midleName}}</td>
          <td>{{client.address}}</td>
          <td>
            <button mat-raised-button color="primary" (click)="select(client)" style="margin-left: 20px;">Seleccionar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>