<div mat-dialog-content>
    
    <!--p>
      <span class="text-blue">Total a pagar: $ {{amount}}</span>
      <br>
      <span class="text-red">Precio con descuento: $ {{amountDiscounted}}</span>
    </p-->

    <section>
      <div class="example-button-row" *ngFor="let discount of catalogDiscounts">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-fab color="accent" type="button"(click)="onButtonClicked(+discount.description)">
              <mat-icon>remove</mat-icon>{{discount.name}}
            </button>
          </div>
        </div>
      </div>
    </section>

</div>