/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,body{
	height:100%;
	margin:0;
	padding:0;
}
body{
	background-image:url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	min-height:100vh;
	font-family:'Roboto', 
	sans-serif;
}

mat-card-header{
	text-align:center;
	width:100%;
	display:block;
	font-weight:700;
}
mat-card-header mat-card-title{
	font-size:30px;margin:0;
}

.spacer {
  flex: 1 1 auto;
}

.div-container {
  padding: 10px;
  margin: 50px auto;
  display: flex;
  background:#fff;
  flex-direction: column;
  border-radius:10px;
  max-width:70%;
}

.box {
	max-width:330px;
}

.box,.box-form {
	position:relative;
	top:0;
	opacity:1;
	float:left;
	padding:60px 50px 40px 50px;
	width:100%;
	background:#fff;
	border-radius:10px;
	transform:scale(1);
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	z-index:5;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
	display: none;
}

.full-width-input {
  width: 100%;
}

.midle-width-input {
  width: 50%;
}

.third-width-imput{
  width: 33.3%;
}

.quart-width-imput{
  width: 25%;
}