/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/*
html,body{
	height:600px;
	margin:0;
	padding:0;
}
*/
body{
	/*background-image:url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	min-height:100vh;
	font-family:'Roboto', 
	sans-serif;*/
	background-color:#F5EEF8;
}

p,input,th,td,mat-card-title{
	text-transform: uppercase;
}
input[type=number] {
  text-align:right;
}

th,td,.text-blue,.text-red{
	text-transform: uppercase;
	text-align: center;
}

mat-card-header{
	text-align:center;
	width:100%;
	display:block;
	font-weight:700;
}
mat-card-header mat-card-title{
	font-size:30px;margin:0;
}

.spacer {
  flex: 1 1 auto;
}

.div-container {
  padding: 10px;
  margin: 10px auto;
  display: flex;
  background:#fff;
  flex-direction: column;
  border-radius:10px;
  max-width:90%;
}

.box-form {
	position:relative;
	top:0;
	opacity:1;
	float:left;
	padding: 10px;
	width:100%;
	background:#fff;
	border-radius:10px;
	transform:scale(1);
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	z-index:5;
}

.dialog-container {
  background:#fff;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
	display: none;
}

.text-blue, .text-red{
	font-size: 15px;
	padding: 0 10px;
}

.text-blue {
	color: blue;
}

.text-red {
	color: red;
	font-style: italic;
}

.full-width-input {
  width: 100%;
}

.midle-width-input {
  width: 50%;
}

.third-width-input{
  width: 33.3%;
}

.quart-width-input{
  width: 25%;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:300px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}