<div mat-dialog-content>

  <!-- Formulario de busqueda -->
  <div>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="searchForm">
          <mat-form-field style="width: 20%;">
            <input matInput formControlName="sku" placeholder="SKU" autocomplete="off" maxlength="15">
          </mat-form-field>
          <mat-form-field style="width: 70%;">
            <input matInput formControlName="name" placeholder="Nombre" autocomplete="off" maxlength="80">
          </mat-form-field>
          <mat-icon (click)="doFilter()">search</mat-icon>
          <mat-icon (click)="clearFilter()">clear</mat-icon>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Tabla -->
  <div id="table-wrapper">
    <div id="table-scroll">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>SKU</th>
          <th>Nombre completo</th>
          <th *ngIf="data.mode!=='all'">Cantidad</th>
          <th *ngIf="data.mode!=='all'">Presentaci&oacute;n</th>
          <th *ngIf="data.mode!=='all'">Piezas</th>
          <!--th>Costo promed&iacute;o</th>
          <th>Costo actual</th-->
          <th *ngIf="data.mode!=='all'">Precio</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products | async">
          <td class="hidden">{{product.id}}</td>
          <td>{{product.sku}}</td>
          <td>{{product.nameLarge}}</td>
          <td *ngIf="data.mode!=='all'">{{product.inventory.quantity}}</td>
          <td *ngIf="data.mode!=='all'">{{product.inventory.unityDesc}}</td>
          <td *ngIf="data.mode!=='all'">{{product.inventory.numPiece ? product.inventory.numPiece : 'N/A'}}</td>
          <!--td>$ {{product.inventory.averageCost}}</td>
          <td>$ {{product.inventory.currentCost}}</td-->
          <td *ngIf="data.mode!=='all'">$ {{product.inventory.price}}</td>
          <td>
            <button mat-raised-button color="primary" (click)="select(product)" style="margin-left: 20px;">Seleccionar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Pagination -->
  <div class="wrapper">
    <mat-icon (click)="pagination(0)">first_page</mat-icon>
    <mat-icon (click)="pagination(page-1)">arrow_back</mat-icon>
    page {{page+1}} of {{totalPage}}
    <mat-icon (click)="pagination(page+1)">arrow_forward</mat-icon>
    <mat-icon (click)="pagination(totalPage-1)">last_page</mat-icon>
  </div>

</div>