<div class="div-sale" *ngIf="privileges.canSale()">

	<div class="div-sale-child">

		<div class="div-total">
			<span class="total">Total a pagar</span>
			<span class="total">$ {{sale.total}}</span>
			<div class="box-payment">
				<div id="table-wrapper">
					<div id="table-scroll-payment">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Met. de pago</th>
									<th>Monto</th>
									<th>
										<button mat-fab color="primary" *ngIf="isToPayments()" (click)="openDialogPayments()">
											<mat-icon>money</mat-icon>
										</button>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let payment of salePayment">
									<td>{{payment.paymentDesc}}</td>
									<td>{{payment.amount+payment.comision}}</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="box-total-detail">
				<div class="box-total-detail-arrow">
					<span class="span-block" style="color: darkgreen;">Sub total: $ {{sale.subTotal}}</span>
					<span class="span-block" style="color: darkgreen;">Iva: $ {{sale.tax}}</span>
					<span class="span-block" style="color: darkgreen;">Total: $ {{sale.total}}</span>
					<span class="span-block" style="color: darkorange;" *ngIf="sale.discount">Descuento: {{sale.discount}}%</span>
					<span class="span-block" style="color: red;" *ngIf="sale.change">Cambio: $ {{sale.change}}</span>
				</div>
			</div>
			<div class="box-pay">
				<button mat-fab color="warn" type="button" (click)="reset(true)"><mat-icon>clear</mat-icon></button>
				<button mat-fab color="accent" type="button" *ngIf="hasDiscount" [disabled]="!(sale.total || sale.total >0)" (click)="openDiscountDialog()">
					<mat-icon>money_off</mat-icon>
				</button>
				<button mat-fab class="button-pay" type="button" [disabled]="!isToPay()" (click)="pay()">
					<mat-icon>attach_money</mat-icon>
				</button>
			</div>
		</div>

		<div class="div-container">

			<div class="wrapper">
				<span>Ult&iacute;mo folio de venta:</span>
				<span class="text-blue" *ngIf="lastIdSale">{{lastIdSale}}</span>
				<span class="text-red" *ngIf="!lastIdSale">SIN VENTA REALIZADA</span>
				<span class="spacer"></span>
				<span>Fecha: {{date | date: "dd/MM/yyyy"}} {{date | date: "HH:mm:ss"}}</span>				
			</div>

			<mat-card class="box-form">
				<mat-card-content>
					<div class="wrapper">
						<button mat-fab color="primary" (click)="openDialogClientAdd()"><mat-icon>people</mat-icon></button>
						<span style="font-size: 20px; text-transform: uppercase;">Cliente selecionado: </span>
						<span class="text-red" *ngIf="!client.id">SIN FACTURA &oacute; click en la lupa para buscar...</span>
						<span class="text-blue" *ngIf="client.id">{{client.name + ' ' +  client.lastName + ' ' +  client.midleName}}</span>
						<span class="spacer"></span>
						<button mat-mini-fab color="primary" (click)="openDialogClientSearch()">
							<mat-icon>search</mat-icon>
						</button>
						<mat-icon *ngIf="client.id" (click)="unSelectClient()">clear</mat-icon>
					</div>
			  	</mat-card-content>
			</mat-card>

			<div id="table-wrapper">
				<div id="table-scroll">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Cantidad</th>
								<th>Producto</th>
								<th>Precio</th>
								<th>Total</th>
								<th>
									<button mat-mini-fab color="primary" (click)="openDialogProductSearch()">
										<mat-icon>article</mat-icon>
									</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let product of saleDetail">
								<td>{{product.quantity}} {{product.unityDesc}} {{product.numPiece ? '-' + product.numPiece : ''}}</td>
								<td>{{product.productName}}</td>
								<td>{{product.price}}</td>
								<td>{{product.total}}</td>
								<td>
									<button mat-mini-fab color="warn" (click)="remove(product)"><mat-icon>clear</mat-icon></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div>
				<span class="text-blue">Monto total: $ {{totalAmount}}</span>
				[<label *ngFor="let total of totals" class="text-blue">{{total.quantity}} {{total.unity}}(s) </label>]
			</div>

		</div>

	</div>	
</div>