<div class="div-container">

  <mat-card class="box-form">
    <mat-card-header>
      <mat-card-title>Reasignar compra</mat-card-title>
    </mat-card-header>
  </mat-card>

  <div *ngIf="purchaseNotSelected()">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Producto</th>
        <th>Unidad</th>
        <th>Cantidad</th>
        <th>Num Piezas x cant</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let purchase of purchases">
        <td class="hidden">{{purchase.id}}</td>
        <td>{{purchase.product.nameLarge}}</td>
        <td>{{purchase.unityDesc}}</td>
        <td>{{purchase.quantity}}</td>
        <td>{{purchase.numPiece}}</td>
        <td>
          <button mat-raised-button color="primary" (click)="seleccionar(purchase.id,purchase.product.id, purchase)">Seleccionar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="showQuantityInput()">
    <span class="text-blue">Producto: {{purchaseSelected.product.nameLarge}}</span>
    <span class="text-blue">Unidad: {{purchaseSelected.unityDesc}}</span>
    <span class="text-blue">Cantidad: {{purchaseSelected.quantity}}</span>
    <span class="text-blue">N&uacute;mero de piezas por cantidad: {{purchaseSelected.numPiece}}</span>
    <mat-form-field class="quart-width-input">
      <input matInput type="number" #quantity placeholder="Cantidad a reasignar" [value]="1" autocomplete="off">
    </mat-form-field>
    <span class="text-red" *ngIf="+quantity.value<=0">La cantidad a reasignar no puede ser menor a 0</span>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Producto</th>
        <th>Unidad</th>
        <th>Cantidad</th>
        <th><button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let purchase of purchasesByProduct">
        <td class="hidden">{{purchase.id}}</td>
        <td>{{purchase.product.nameLarge}}</td>
        <td>{{purchase.unityDesc}}</td>
        <td>{{purchase.quantity}}</td>
        <td>
          <button mat-raised-button color="primary" *ngIf="+quantity.value>0" (click)="reasign(purchase.id, +quantity.value)">Reasingar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
