<div class="div-container">

  <div>
    <mat-card class="box-form">
      <mat-card-header>
        <mat-card-title>Clientes</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="searchForm">
          <mat-form-field style="width: 30%;">
            <input matInput formControlName="name" placeholder="Nombre" maxlength="50">
          </mat-form-field>
          <mat-form-field style="width: 30%;">
            <input matInput formControlName="lastName" placeholder="Apellido Paterno" maxlength="50">
          </mat-form-field>
          <mat-form-field style="width: 30%;">
            <input matInput formControlName="midleName" placeholder="Apellido Materno" maxlength="50">
          </mat-form-field>
          <button mat-mini-fab color="primary" (click)="doFilter()">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="clearFilter()">
            <mat-icon>clear</mat-icon>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div id="table-wrapper">
    <div id="table-scroll">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Nombre Completo</th>
          <th>Domicilio</th>
          <th>Telefono</th>
          <th>Email</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clients | async">
          <td class="hidden">{{client.id}}</td>
          <td>{{client.name}} {{client.lastName}} {{client.midleName}}</td>
          <td>{{client.address}}</td>
          <td>{{client.phone}}</td>
          <td>{{client.email}}</td>
          <td>
          	<button mat-raised-button color="warn" *ngIf="privileges.canRemove()" (click)="delete(client)">Borrar</button>
            <button mat-raised-button color="primary" *ngIf="privileges.canEdit()" (click)="edit(client)" style="margin-left: 20px;">Modificar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Pagination -->
  <div class="wrapper">
    <mat-icon (click)="pagination(0)">first_page</mat-icon>
    <mat-icon (click)="pagination(page-1)">arrow_back</mat-icon>
    page {{page+1}} of {{totalPage}}
    <mat-icon (click)="pagination(page+1)">arrow_forward</mat-icon>
    <mat-icon (click)="pagination(totalPage-1)">last_page</mat-icon>
  </div>

</div>