<div mat-dialog-content>
  <div>
	  <mat-card>
      <div class="wrapper">
        Total a pagar: <span class="text-red">$ {{data}}</span>
        Total agregado: <span class="text-blue">$ {{totalAmount}}</span>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" style="width:100px" type="button" [disabled]="!finalize()" (click)="save()">Guardar</button>
      </div>
	    <mat-card-content>
	      <form [formGroup]="paymentForm">
	        <mat-form-field class='midle-width-input'>
	          <select matNativeControl formControlName="payment" placeholder="Forma de pago" required>
	            <option *ngFor="let item of catalogPayment" [value]="item.id">
	              {{item.name}}
	            </option>
	          </select>
	          <mat-error>Campo obligatorio</mat-error>
	        </mat-form-field>
	        <mat-form-field class="midle-width-input">
	          <input matInput formControlName="amount" style="text-align:right; padding: 0 10px;" placeholder="Monto" autocomplete="off" maxlength="10">
	          <mat-error>Campo obligatorio</mat-error>
	        </mat-form-field>
          <div *ngIf="showCreditDataExtra()">
            <mat-form-field class="midle-width-input">
              <input matInput formControlName="voucherFolio" placeholder="Folio de voucher" autocomplete="off" maxlength="50">
            </mat-form-field>
            <mat-form-field class="midle-width-input">
              <select matNativeControl formControlName="comision" placeholder="Modalidad de pago">
                <option *ngFor="let item of catalogComisiones" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
            </mat-form-field>
          </div>
	        <div class="wrapper">
	          <span class="spacer"></span>
	          <button mat-raised-button type="button" type="button" [disabled]="!isFormValid()" (click)="add()">Agregar</button>
	        </div>
	      </form>
	    </mat-card-content>
	  </mat-card>
  <div>

  <div id="table-wrapper">
    <div id="table-scroll-payment-dialog">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Metodo de pago</th>
          <th>Monto</th>
          <th>Comision</th>
          <th>Voucher</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let payment of payments">
          <td>{{payment.paymentDesc}}</td>
          <td>{{payment.amount}}</td>
          <td>{{payment.comision}}</td>
          <td>{{payment.voucherFolio}}</td>
          <td>
        	 <button mat-raised-button color="warn" (click)="remove(payment)">Borrar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>